.bills span::before {
    width: 30px;
}

.invoice--bill {
    color: orangered;
    font-size: 2rem;
    font-weight: 600;
}

.client--id span {
    color: orangered;
}

.medical--detail address {
    color: orangered;
    font-weight: 600;
}

.client--id address {
    font-weight: 600;
}

.genrate--billsspan::before {
    width: 80px;
}

.create--bill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

/* .bills--container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
} */

.client--details p {
    top: -14px;
    position: relative;
    font-weight: 600;
    font-size: 1.1rem;
    background: #fff;
    padding: 0 1rem;
    margin: 0;
    display: inline-block;
}

.client--details {
    overflow: visible;
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
}