.bills span::before {
    width: 30px;
}

.invoice--bill {
    color: orangered;
    font-size: 2rem;
    font-weight: 600;
}

.client--id span {
    color: orangered;
}

.medical--detail address span {
    color: orangered;
}

.medical--detail address {
    font-weight: 600;
}

.client--id address {
    font-weight: 600;
}

.genrate--billsspan::before {
    width: 80px;
}

.create--bill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

/* .bills--container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
} */

.client--details--bill p {
    top: -14px;
    position: relative;
    font-weight: 600;
    font-size: 1.1rem;
    background: #fff;
    padding: 0 1rem;
    margin: 0;
    display: inline-block;
}

.client--details--bill {
    overflow: visible;
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
}


/* create Bill  */

.add--item--btn a {
    color: orangered;
    border: 2px solid orangered;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
}

.table-responsive .delete {
    color: orangered;
}

.bill--exp ,.bill--qty ,.bill--pack ,.bill--rate,.bill--cgst,.bill--sgst,
.bill--shedule {
    max-width: 50px;
}

.bill--mrp{
    max-width: 60px;
}

.bill--batch{
    max-width: 100px;
}
.bill--item{
    max-width: 250px;
}