.main--body {
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.column--menu {
    margin-top: 1rem;
    font-size: 1.3rem;
    display: inline-flex;
    font-weight: 600;
    min-height: 50px;
}

.menu--first:hover,
.menu--second:hover {
    cursor: pointer;
    color: orangered;
    content: "";
    border-bottom: 3px solid orangered;
}

.menu--first,
.menu--second {
    display: inline-flex;
    line-height: 1;
    transition: color 0.3s ease;
}

.menu--first i,
.menu--second i {
    padding-right: 0.5rem;
}


/* Graph Style */

.first--graph {
    min-height: 10rem;
    align-items: center;
    justify-content: space-between;
    background: red;
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.second--graph {
    min-height: 10rem;
    align-items: center;
    justify-content: space-between;
    background: rgb(33, 33, 121);
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.third--graph {
    min-height: 10rem;
    align-items: center;
    justify-content: space-between;
    background: #333;
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.fourth--graph {
    min-height: 10rem;
    align-items: center;
    justify-content: space-between;
    background: green;
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.first--graph .left .amount,
.second--graph .left .amount,
.third--graph .left .amount,
.fourth--graph .left .amount {
    font-size: 1.8rem;
    font-weight: 700;
}

.first--graph .left .amount--card--title,
.second--graph .left .amount--card--title,
.third--graph .left .amount--card--title,
.fourth--graph .left .amount--card--title {
    font-weight: 600;
    font-size: 1.3rem;
}

/* Media Query */
@media(max-width:1000px) {

    .menu--first,
    .menu--second {
        font-size: 1rem;
    }
}