* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Main Display Grid */

.display--row {
    display: flex;
    overflow: hidden;
}

.col-first {
    min-width: 18%;
    max-width: 18%;
}

.col-second {
    width: 80%;
}
.block--active{
    content: "";
    border-bottom: 3px solid;
    color: orangered;
    margin: 0.5rem 0;
}