* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Main Display Grid */

.display--row {
    display: flex;
}

.col-first {
    max-width: 20%;
}

.col-second {
    width: 80%;
}