{% extends 'basic.html' %}
{% load static %}
{% block title %}
Clients | Medi Health NFG
{% endblock title %}

{% block clients %}
block--active
{% endblock clients %}
{% block main--body %}

<div class="my-3 text-center page--title clients">
    <a href="/clients/">
        <p>Client Details</p>
    </a>
    <span></span>
</div>

<div class="row d-flex justify-content-center">
    <img class="col-md-6" src="{% static 'img/svg/client_data.svg' %}" alt="">
    <div class="client--details col-md-6">
        <p class="slogan">Client Details : </p>
        <div class="row mt-2">
            <div class="col-md-6 font-weight-bold">Client ID :</div>
            <div class="col-md-6 font-weight-bold">Referance By :</div>
            <div class="col-md-6 client-info">
                <p>{{clients.client_ID}}</p>
            </div>
            <div class="col-md-6 client-info">
                <p>{{clients.client_Referance}}</p>
            </div>
        </div>
        <hr class="m-0 p-0">
        <div class="row mt-2">
            <div class="col-md-4 font-weight-bold">First Name :</div>
            <div class="col-md-4 font-weight-bold">Middle Name :</div>
            <div class="col-md-4 font-weight-bold">Last Name :</div>
            <div class="col-md-4 client-info">
                <p>{{clients.client_First_Name}}</p>
            </div>
            <div class="col-md-4 client-info">
                <p>{{clients.client_Middle_Name}}</p>
            </div>
            <div class="col-md-4 client-info">
                <p>{{clients.client_Last_Name}}</p>
            </div>
        </div>
        <hr class="m-0 p-0">
        <div class="row mt-2">
            <div class="col-md-4 font-weight-bold">DOB :</div>
            <div class="col-md-4 font-weight-bold">Sex :</div>
            <div class="col-md-4 font-weight-bold">Status :</div>
            <div class="col-md-4 client-info">
                <p>{{clients.client_Date_Of_Birth}}</p>
            </div>
            <div class="col-md-4 client-info">
                <p>{{clients.client_Sex}}</p>
            </div>
            <div class="col-md-4 client-info">
                <p>{{clients.client_Status}}</p>
            </div>
        </div>
        <hr class="m-0 p-0">
        <div class="row mt-2">
            <div class="col-md-4 font-weight-bold">Mobile :</div>
            <div class="col-md-8 font-weight-bold">Email ID :</div>

            <div class="col-md-4 client-info">
                <p>{{clients.client_Mobile}}</p>
            </div>
            <div class="col-md-8 client-info">
                <p>{{clients.client_Email}}</p>
            </div>
        </div>
        <hr class="m-0 p-0">
        <div class="row mt-2">
            <div class="col-md-6 font-weight-bold">Address 1 :</div>
            <div class="col-md-6 font-weight-bold">Address 2 :</div>
            <div class="col-md-6 client-info">
                <p>{{clients.client_Address_1}}</p>
            </div>
            <div class="col-md-6 client-info">
                <p>{{clients.client_Address_2}}</p>
            </div>
        </div>
        <hr class="m-0 p-0">
        <div class="row mt-2">
            <div class="col-md-4 font-weight-bold">City :</div>
            <div class="col-md-4 font-weight-bold">State :</div>
            <div class="col-md-4 font-weight-bold">Zip :</div>
            <div class="col-md-4 client-info">
                <p>{{clients.client_City}}</p>
            </div>
            <div class="col-md-4 client-info">
                <p>{{clients.client_State}}</p>
            </div>
            <div class="col-md-4 client-info">
                <p>{{clients.client_Zip}}</p>
            </div>
        </div>
        <hr class="m-0 p-0">
    </div>
</div>

{% if clients.client_Disease_1 == "" %}
{% else %}
<div class="row mt-5">
    <div class="col-md-4 font-weight-bold">Client Disease 1 :</div>
    <div class="col-md-4 font-weight-bold">Client Disease 2 :</div>
    <div class="col-md-4 font-weight-bold">Client Disease 3 :</div>
    <div class="col-md-4 client-info">
        <p>{{clients.client_Disease_1}}</p>
    </div>
    <div class="col-md-4 client-info">
        <p>{{clients.client_Disease_2}}</p>
    </div>
    <div class="col-md-4 client-info">
        <p>{{clients.client_Disease_3}}</p>
    </div>
</div>
<hr class="m-0 p-0">
<div class="row mt-2">
    <div class="col-md-4 font-weight-bold">Client Disease 4 :</div>
    <div class="col-md-4 font-weight-bold">Client Disease 5 :</div>
    <div class="col-md-4 font-weight-bold">Client Disease 6 :</div>
    <div class="col-md-4 client-info">
        <p>{{clients.client_Disease_4}}</p>
    </div>
    <div class="col-md-4 client-info">
        <p>{{clients.client_Disease_5}}</p>
    </div>
    <div class="col-md-4 client-info">
        <p>{{clients.client_Disease_6}}</p>
    </div>
</div>
<hr class="p-0 m-0 mb-3">
{% endif %}

{% endblock main--body %}