{% extends 'basic.html' %}

{% block title %}
Medi Health NFG
{% endblock title %}

{% block dashboard %}
block--active
{% endblock dashboard %}
{% block main--body %}

<div class="column--menu">
    <div class="menu--first mx-3">
        <i class="fas fa-rupee-sign"></i>
        <p>Income Report</p>
    </div>
    <div class="menu--second mx-3">
        <i class="fas fa-truck-moving"></i>
        <p>Sales Report</p>
    </div>
</div>

<div class="graph--boxes mt-4">
    <div class="row container-fluid">
        <div class="col mx-3 first--graph">
            <div class="left">
                <p class="pl-3 amount--card--title">Total Income</p>
                <p class="pl-3 amount">₹ 50,000</p>
            </div>
            <div class="right">
                ||||||
            </div>
        </div>
        <div class="col mx-3 second--graph">
            <div class="left">
                <p class="pl-3 amount--card--title">This Week</p>
                <p class="pl-3 amount">₹ 8580</p>
            </div>
            <div class="right">
                ||||||
            </div>
        </div>
        <div class="col mx-3 third--graph">
            <div class="left">
                <p class="pl-3 amount--card--title">Previous Month</p>
                <p class="pl-3 amount">₹ 45,580</p>
            </div>
            <div class="right">
                ||||||
            </div>
        </div>
        <div class="col mx-3 fourth--graph">
            <div class="left">
                <p class="pl-3 amount--card--title">Last Year</p>
                <p class="pl-3 amount">₹ 3,57,500</p>
            </div>
            <div class="right">
                ||||||
            </div>
        </div>
    </div>
</div>
{% endblock main--body %}