{% extends 'basic.html' %}

{% block title %}
Medi Health NFG
{% endblock title %}

{% block dashboard %}
block--active
{% endblock dashboard %}
{% block main--body %}

{% comment %} <div class="column--menu">
    <div class="menu--first mx-3 menu--active">
        <i class="fas fa-rupee-sign"></i>
        <p>Income Report</p>
    </div>
    <div class="menu--second mx-3">
        <i class="fas fa-truck-moving"></i>
        <p>Sales Report</p>
    </div>
</div> {% endcomment %}

<div class="my-3 text-center page--title">
    <p>Dashboard</p>
    <span></span>
</div>

<div class="my-3 data--buttons">
    <a href="#">
        <li class="day--btn data--active--btn">Day</li>
    </a>
    <a href="#">
        <li class="week--btn">Week</li>
    </a>
    <a href="#">
        <li class="month--btn">Month</li>
    </a>
    <a href="#">
        <li class="year--btn">Year</li>
    </a>
</div>

<div class="graph--boxes mt-4">
    <div class="row">
        <div class="col mx-3 first--graph">
            <div class="top">
                <p class="amount--card--title">Sales</p>
                <p class="badge">Day</p>
            </div>
            <div class="bottom">
                <p class="amount">Rs. 50,000</p>
                <p class="slogan">Total Sales</p>
            </div>
        </div>
        <div class="col mx-3 second--graph">
            <div class="top">
                <p class="amount--card--title">Purchases</p>
                <p class="badge">Day</p>
            </div>
            <div class="bottom">
                <p class="amount">Rs. 1,20,000</p>
                <p class="slogan">Total Sales</p>
            </div>
        </div>
        <div class="col mx-3 third--graph">
            <div class="top">
                <p class="amount--card--title">Expenses</p>
                <p class="badge">Day</p>
            </div>
            <div class="bottom">
                <p class="amount">Rs. 2,00,000</p>
                <p class="slogan">Total Sales</p>
            </div>
        </div>
        <div class="col mx-3 fourth--graph">
            <div class="top">
                <p class="amount--card--title">Stock Value</p>
                <p class="badge">Day</p>
            </div>
            <div class="bottom">
                <p class="amount">Rs. 5,00,000</p>
                <p class="slogan">Total Sales</p>
            </div>
        </div>
    </div>
</div>

{% endblock main--body %}